version: '3.8'
services:
  db:
    image: postgres:16
    container_name: healthcare_database
    environment:
      POSTGRES_USER: sfaham_anjaneya
      POSTGRES_PASSWORD: sfaham_anjaneya_password
      POSTGRES_DB: healthcare
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: